datestart=2018082500
dateend=2019041600


run_freq_hours=24
b2b_freq_hours=24

datestart_obs=2018082500

# observation and model data folders

nmembers=21 # including the control member
control_member_id="000"
control_filename_suffix=""

label=prog_surge0_tidesbc_nwatl_detided_m2o1
obs_dir=/home/olh001/MATLAB/detide/download_scripts/merged/2018_2019_on_20190531
detide_obs=1
station_info=/home/olh001/Python/station_positions_vis/stations_obs_ATL_1_12.obs

#mod_dir=/home/olh001/.suites/rdsps/pseudo-analysis/hub/eccc-ppp2/gridpt/prog
mod_dir=/home/olh001/.suites/resps_tides_perturb_nwatl_O1M2_invert_scaling/forecast/hub/eccc-ppp2/gridpt/prog_surge0_tides
# output directory
prepared_for_scoring_dir=data/invert_scaling/detided/tides_perturbed_nwatl_m2o1/data_for_scoring_${label}_${datestart}_${dateend}

detide_mod=0
