datestart=2016062800
dateend=2016083112


datestart_obs=2016010100

# observation and model data folders

nmembers=21 # including the control member
control_member_id=""
control_filename_suffix=""

label=resps_forecast_exp_during_E2CPL60E16V1
obs_dir=/home/olh001/MATLAB/detide/data/obs/merged_2016_2017/
station_info=/home/olh001/Python/station_positions_vis/stations_obs_ATL_1_12.obs

#mod_dir=/home/olh001/.suites/rdsps/pseudo-analysis/hub/eccc-ppp2/gridpt/prog
mod_dir=/home/olh001/data/ppp1-sitestore/resps/final_cycles/phase_2_2019/forecast_freq_36h/exp_during_E2CPL60E16V1
# output directory
prepared_for_scoring_dir=data/data_for_scoring_${label}_${datestart}_${dateend}

run_freq_hours=36
