
[mod]
  datestart_mod=2020010100
  dateend_mod=2020123000


  # shift between date in the name of the experiment (contained in the output files)
  # and the actual simulation start
  dt_texp_from_tbeg_hours=0

  # frequency of the experiments to be scored
  run_freq_hours=1

  # frequency of the experiments to remove long term mean
  b2b_max_lead_hour=1
  b2b_min_lead_hour=0

  # observation and model data folders

  nmembers=0 # including the control member
  control_member_id=""
  control_filename_suffix=""


  #mod_dir=/home/sohs500/.suites/C2E211E19V2/hub/ppp5/gridpt/anal/ciops
  #mod_dir=/home/yls000/.suites/CIOPS_IC4/ciops_pa_e_2.2_IC4_RX/hub/ppp6/gridpt/anal/ciops
  mod_dir=/home/yls000/.suites/CIOPS_IC4/ciops_pa_e_2.2_IC4_RX_ssh/hub/ppp6/gridpt/anal/ciops
  mod_nomvar=SSH

  detide_mod=0
  detide_mod_filtering=0
  
  min_nhours_for_detiding=720
  mod_read_nprocs=4


[obs]
  datestart_obs=${mod:datestart_mod}
  dateend_obs=2022010100

  #obs_dir=/home/olh001/sse_obs/merged/gdsps_2019_2020_on_20200909/
  obs_dir=/home/yls000/CIOPS/ciops_2020_2022_stns_meds_noaa
  station_info=/home/olh001/Python/obs_to_grid_mapping/ciopse/ciopse_opt.obs
  detide_obs_filtering=0
  detide_obs=0
  perform_qc=false


  min_nhours_for_detiding=${mod:min_nhours_for_detiding}

[misc]
  plot_detiding_diag=0
  label=pa_ciopse_new_2020_twl
  # output directory
  prepared_for_scoring_dir=data/ciops_ic4/ciopse/pa/RX/IC4_RX_SSH/data_for_scoring_${label}_${mod:datestart_mod}_${mod:dateend_mod}
  remove_analysis_period_mean=1
