
[mod]
datestart_mod=2019052503
dateend_mod=2019092403

# shift between date in the name of the experiment (contained in the output files)
# and the actual simulation start
dt_texp_from_tbeg_hours=6

# frequency of the experiments to be scored
run_freq_hours=6

# frequency of the experiments to remove long term mean
b2b_freq_hours=6

# observation and model data folders
nmembers=0 # including the control member
control_member_id=""
control_filename_suffix=""
mod_dir=/home/olh001/Python/dev/loadprogs_python/data/gdsps/pa/AC2019040512/
mod_nomvar=sossheig
mod_read_nprocs=5

detide_mod=1
detide_mod_filtering=0


[obs]
datestart_obs=${mod:datestart_mod}
dateend_obs=${mod:dateend_mod}

detide_obs=1
obs_dir=~olh001/sse_obs/merged/gdsps_2019_2020_on_20200909/
detide_obs_filtering=0
station_info=~olh001/Python/obs_to_grid_mapping/gdsps_NA_opt_v001.obs


[misc]
plot_detiding_diag=1
label=gdsps_pa_ac_cycles_surge

# output directory
prepared_for_scoring_dir=data/gdsps/fc/data_for_scoring_${label}_${mod:datestart_mod}_${mod:dateend_mod}
remove_analysis_period_mean=true
