[mod]
datestart_mod=2019051500
dateend_mod=2020060100

run_freq_hours=12
b2b_freq_hours=12


# observation and model data folders

n_members=21 # including the control member
control_member_id="000"
control_filename_suffix=""

#mod_dir=/home/olh001/.suites/rdsps/pseudo-analysis/hub/eccc-ppp2/gridpt/prog
mod_dir=/home/olh001/.suites/resps/research/resps_tides_perturb_nwatl_O1M2K1N2S2_FC_2019040500_20200601/forecast/hub/eccc-ppp3/gridpt/prog_surge+t0


[obs]
datestart_obs=2019050100
obs_dir=~olh001/sse_obs/merged/2019_2020_on_20200805/
detide_obs=0
station_info=/home/olh001/Python/station_positions_vis/stations_obs_ATL_1_12.obs


[misc]
label=prog_surge+t0_m2o1k1s2n2

# output directory
prepared_for_scoring_dir=data/invert_scaling/twl_201904_202006/tides_perturbed_nwatl_m2o1k1s2n2/data_for_scoring_${label}_${mod:datestart_mod}_${mod:dateend_mod}
