
[mod]
datestart_mod=2021110112
dateend_mod=2022053112
# dateend_mod=2019070509

# shift between date in the name of the experiment (contained in the output files)
# and the actual simulation start
dt_texp_from_tbeg_hours=0

# frequency of the experiments to be scored
run_freq_hours=12

# frequency of the experiments to remove long term mean
b2b_max_lead_hour=12
b2b_min_lead_hour=0


# observation and model data folders
n_members=21 # including the control member
control_member_id="000"
control_filename_suffix=""
mod_dir=/home/sssm001/data/ppp7/u2/maestro/ci4/resps/final-cycles/new/gridpt/prog_surge_tides
mod_nomvar=SSH
mod_read_nprocs=5

detide_mod=0
detide_mod_filtering=0


[obs]
datestart_obs=${mod:datestart_mod}
dateend_obs=${mod:dateend_mod}

detide_obs=0
obs_datatype=sqlite
canhys_station_id_translation_dict=/fs/ssm/eccc/cmd/cmda/ade/external/canhys/1.3.0/cfg/stn.txt
obs_dir=~swav000/data/ppp7/rarc/CANHYS/
detide_obs_filtering=0
station_info=/home/olh001/Python/obs_to_grid_mapping/resps/resps_1_12.obs
obs_transpose_mod_indices=0


[misc]
plot_detiding_diag=0
label=resps_prog_twl_ref

# output directory
prepared_for_scoring_dir=test_data/migration-u3/resps/final-cycles/data_for_scoring_${label}_${obs:datestart_obs}_${obs:dateend_obs}
remove_analysis_period_mean=true
