datestart=2016121500
dateend=2017123118

datestart_obs=2016010100

# observation and model data folders

nmembers=1 # including the control member
control_member_id=""
control_filename_suffix=""

label=rdsps_pseudo-analysis_experimental
obs_dir=/home/olh001/MATLAB/detide/data/obs/merged_2016_2017
mod_dir=/home/olh001/MATLAB/detide/data/mod/gem5_research_cycle_to_score/pseudo-analysis/experimental
# output directory
prepared_for_scoring_dir=/home/olh001/MATLAB/detide/data/data_for_scoring_${label}_${datestart}_${dateend}_v03

matlab_script_name="tableprogs_$$.m"

n_outputs_per_simulation=6
simulation_duration_hours=6

# frequency of the considered runs (24 - skipping 1 if there is a launch every 12 hours)
run_freq_hours=6
