datestart=2018041600
dateend=2019041600


run_freq_hours=36
b2b_freq_hours=12

datestart_obs=2018010100

# observation and model data folders

nmembers=0 # including the control member
control_member_id=
control_filename_suffix=

label=webtide_hrglobal
obs_dir=/home/olh001/MATLAB/detide/download_scripts/merged/2018_2019_on_20190531
detide_obs=0
station_info=/home/olh001/Python/station_positions_vis/stations_obs_ATL_1_12.obs

#mod_dir=/home/olh001/.suites/rdsps/pseudo-analysis/hub/eccc-ppp2/gridpt/prog
mod_dir=/home/olh001/.suites/resps_tides_surge_tide_interactions/forecast/hub/eccc-ppp1/gridpt/tides_
mod_nomvar=SSHT

# output directory
prepared_for_scoring_dir=data/data_for_scoring_${label}_${datestart}_${dateend}

