datestart=2016122500
dateend=2017022812

datestart_obs=2016010100

# observation and model data folders

nmembers=1 # including the control member
control_member_id=""
control_filename_suffix=""

label=rdsps_forecast_FC70H17V2
obs_dir=/home/olh001/MATLAB/detide/data/obs/merged_2016_2017/
station_info=/home/olh001/Python/station_positions_vis/stations_storm_surge_1_30_subset.obs

#mod_dir=/home/olh001/.suites/rdsps/pseudo-analysis/hub/eccc-ppp2/gridpt/prog
mod_dir=/home/olh001/.suites/rdsps_FC70H17V2/forecast/hub/eccc-ppp2/gridpt/prog/
# output directory
prepared_for_scoring_dir=data/data_for_scoring_${label}_${datestart}_${dateend}

